*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body{
    background-color: black;
    color: aliceblue;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
}

/* header */
nav{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    background-color: rgb(66, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__main{
    display: flex;
    position: absolute;
    top: 50px;
}

.container__window{
    width: 200px;
    height: 50px;
    background-color: rgb(35, 44, 43);
    display: flex;
    flex-direction: column;
    position: relative;
}

.container__video{
    top: 40px;
    left: 20px;
    height: 480px;
    text-align: center;
}

#container__video1 video{
    background-color: black;
    width: 200px;
    height: 50px;
}

#webcam__video{
    width: 200px;
    height: 50px;
}

/* button */
.groupButton{
    width: 100vw;
    background-color: rgb(58, 59, 59);
    height: 120px;
    bottom:0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.groupButton button{
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 50%;
    filter: invert(100%);
    background-color: transparent;
}